h1 The Summoner
input(type="text" placeholder="Enter your name" id="create_player_name")
p#createError.error
div(style="margin-top: 1.5em;")
  button(onclick="createRoom()") Create
  button(onclick="renderLanding()") Back
