.magic.circle
  .inner.magic
    #gameTimer 07:00
    #castResult.hide
  #veni.spot(onclick="castColor(1)")
  #vidi.spot(onclick="castColor(2)")
  #vici.spot(onclick="castColor(3)")
  .back
  .triangle
  .tri
  
.caster.details
  h1 You are 
    span#playerRole xxx
    | !
  h3 A 
    span#playerColor yyy
    |  mana caster with 
    span#playerItem zzz
  p#playerItemAbout

.caster.list
  h3 Casters
  ul.two#playersInGame

button End Game
button(onclick="leaveRoom()") Leave Game
