.magic.circle
  #gameTimer 07:00
  #veni.spot
  #vidi.spot
  #vici.spot
  .back
  .triangle
  .tri
  
.caster.details
  h1 You are 
    span#playerRole xxx
    | !
  h3 A 
    span#playerColor yyy
    |  mana caster with 
    span#playerItem zzz
  p#playerItemAbout

.caster.list
  h3 Casters
  ul.two#playersInGame

button End Game
button(onclick="leaveRoom()") Leave Game
