html
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    link(href="https://fonts.googleapis.com/css?family=Lora|Spectral" rel="stylesheet")
    link(rel="stylesheet" href="/static/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="/static/script.js")
    title The Summoner
  body
    .home
      if routeGame
        #landing_.page
          include landing.pug
      else
        .show#landing_.page
          include landing.pug
      #create_.page
        include create.pug
      if routeGame
        .show#join_.page
          include join.pug
      else 
        #join_.page
          include join.pug
      #lobby_.page
        include lobby.pug
      #game_.page
        include game.pug
