:root {
  --black: #404040;
  --grey: #a1a1a1;
  --red: #a11;
  --bgd: white;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid var(--black);
  color: var(--black);
  font-family: "Lora";
  height: calc(100vh - 18px);
}

body::after {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  position: fixed;
  border-radius: 50%;
  top: 50px;
  left: 50px;
  box-shadow: -82px -42px 0 0 var(--bgd), -42px -82px 0 0 var(--bgd),
    -62px -62px 0 0 var(--bgd), calc(100vw - 50px - 48px) -82px 0 0 var(--bgd),
    calc(100vw - 50px - 28px) -62px 0 0 var(--bgd),
    calc(100vw - 50px - 8px) -42px 0 0 var(--bgd),
    calc(100vw - 50px - 28px) calc(100vh - 50px - 28px) 0 0 var(--bgd),
    calc(100vw - 50px - 48px) calc(100vh - 50px - 8px) 0 0 var(--bgd),
    calc(100vw - 50px - 8px) calc(100vh - 50px - 48px) 0 0 var(--bgd),
    -62px calc(100vh - 50px - 28px) 0 0 var(--bgd),
    -42px calc(100vh - 50px - 8px) 0 0 var(--bgd),
    -82px calc(100vh - 50px - 48px) 0 0 var(--bgd), -62px -62px 0 1px black,
    calc(100vw - 50px - 28px) -62px 0 1px black,
    calc(100vw - 50px - 28px) calc(100vh - 50px - 28px) 0 1px black,
    -62px calc(100vh - 50px - 28px) 0 1px black;
}

.container {
  position: fixed;
  top: 9px;
  left: 9px;
  bottom: 9px;
  right: 9px;
  overflow: auto;
}

.window {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.content {
  margin: auto;
  min-width: 0;
  max-width: 400px;
  width: 80vw;
  text-align: center;
}

.content h1 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.content h3 {
  margin-top: 0em;
}

h1,
h2,
h3 {
  font-family: "Spectral";
}

h1 {
  color: black;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0.5em 0;
  -webkit-padding-start: 0;
}

ul.border {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

ul.two {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 10px;
}

li {
  padding: 0.4em 0.4em;
  display: inline-block;
  width: calc(100% - 0.8em);
}

input {
  width: 280px;
  border: 1px solid var(--grey);
  display: block;
  font-family: "Lora";
  font-size: 1em;
  margin: 0 auto 1em;
  padding: 0.4em;
}

input:focus {
  border: 1px solid var(--black);
  outline: none;
}

button,
.button {
  background: var(--black);
  border: none;
  box-shadow: none;
  color: var(--bgd);
  font-family: "Spectral";
  font-size: 1em;
  margin: 0 6px 10px;
  padding: 0.5em 1em;
  text-decoration: none;
}

button:hover,
.button:hover {
  background: black;
  border: none;
  box-shadow: none;
  color: var(--bgd);
  cursor: pointer;
  font-family: "Spectral";
  padding: 0.5em 1em;
  text-decoration: none;
}

button:disabled,
.button:disabled {
  background: var(--black);
  border: none;
  box-shadow: none;
  color: var(--bgd);
  cursor: disabled;
  font-family: "Spectral";
  padding: 0.5em 1em;
  text-decoration: none;
  opacity: 0.6;
}

button:hover:disabled,
.button:hover:disabled {
  background: var(--black);
  border: none;
  box-shadow: none;
  color: var(--bgd);
  cursor: not-allowed;
  font-family: "Spectral";
  padding: 0.5em 1em;
  text-decoration: none;
  opacity: 0.6;
}

.error {
  color: var(--red);
}

/* Page Components */
.page {
  display: none;
}
.page.show {
  display: block;
}

/* Caster Details */
.caster.details {
  padding: 0.5em 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

#tomeRead {
  display: flex;
  justify-content: center;
}

.caster.details h1 {
  margin: 0;
}

.caster.details h3 {
  margin: 0;
}

.caster.details p {
  margin: 0.5em;
}

.caster.details .hide {
  display: none !important;
}

.caster.details .spot {
  width: 32px;
  height: 32px;
}

.caster.details .spot.red {
  --box-shadow-color: rgb(198, 27, 37);
  background-color: var(--box-shadow-color);
}
.caster.details .spot.orange {
  --box-shadow-color: rgb(253, 101, 23);
  background-color: var(--box-shadow-color);
}
.caster.details .spot.green {
  --box-shadow-color: rgb(198, 214, 9);
  background-color: var(--box-shadow-color);
}
.caster.details .spot.blue {
  --box-shadow-color: rgb(6, 120, 246);
  background-color: var(--box-shadow-color);
}
.caster.details .spot.pink {
  --box-shadow-color: rgb(252, 78, 153);
  background-color: var(--box-shadow-color);
}
.caster.details .spot.purple {
  --box-shadow-color: rgb(152, 44, 216);
  background-color: var(--box-shadow-color);
}

/* Caster List */
.caster.list {
}

.caster.list h3 {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.caster.list ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.caster.list li {
  --bgd-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  border: 1px solid var(--bgd-color);
}

.caster.list li.selectable {
  cursor: pointer;
}
.caster.list li.selectable:hover {
  border: 1px solid var(--box-shadow-color);
}
.caster.list li.selectable.selected {
  outline: 1px solid var(--box-shadow-color);
}

.caster.list li.red {
  --box-shadow-color: rgb(198, 27, 37);
  --bgd-color: rgba(198, 27, 37, 0.1);
  background-color: var(--bgd-color);
}
.caster.list li.orange {
  --box-shadow-color: rgb(253, 101, 23);
  --bgd-color: rgba(253, 101, 23, 0.1);
  background-color: var(--bgd-color);
}
.caster.list li.green {
  --box-shadow-color: rgb(198, 214, 9);
  --bgd-color: rgba(198, 214, 9, 0.2);
  background-color: var(--bgd-color);
}
.caster.list li.blue {
  --box-shadow-color: rgb(6, 120, 246);
  --bgd-color: rgba(6, 120, 246, 0.1);
  background-color: var(--bgd-color);
}
.caster.list li.pink {
  --box-shadow-color: rgb(252, 78, 153);
  --bgd-color: rgba(252, 78, 153, 0.1);
  background-color: var(--bgd-color);
}
.caster.list li.purple {
  --box-shadow-color: rgb(152, 44, 216);
  --bgd-color: rgba(152, 44, 216, 0.1);
  background-color: var(--bgd-color);
}

/* Magic Circle Fun */
.inner.magic div {
  position: absolute;
  width: 100%;
  top: calc(150px - 0.7em);
  font-family: "Spectral";
  font-size: 2em;
  z-index: 2;
}

.inner.magic .hide {
  display: none;
}

.magic.circle {
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
}

.magic.circle .back {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 120px;
  height: 120px;
  border: 1px solid var(--black);
  border-radius: 50%;
  box-shadow: 0 0 0 calc(2em - 2px) white, 0 0 0 2em var(--black),
    0 0 0 calc(2.3em - 1px) white, 0 0 0 2.3em var(--black),
    0 0 0 calc(3.6em - 1px) white, 0 0 0 3.6em var(--black),
    0 0 0 calc(4em - 1px) white, 0 0 0 4em var(--black);
}

.magic.circle .triangle {
  width: 240px;
  height: 1px;
  position: absolute;
  top: 82px;
  left: calc(150px - 120px);
  background: var(--black);
}
.magic.circle .triangle::before {
  content: "";
  width: 240px;
  height: 1px;
  position: absolute;
  top: 104px;
  left: calc(150px - 210px);
  background: var(--black);
  transform: rotate(60deg);
}
.magic.circle .triangle::after {
  content: "";
  width: 240px;
  height: 1px;
  position: absolute;
  top: 104px;
  right: calc(150px - 210px);
  background: var(--black);
  transform: rotate(-60deg);
}

.magic.circle .tri {
  width: 200px;
  height: 1px;
  position: absolute;
  bottom: 88px;
  left: calc(150px - 99px);
  background: var(--black);
  transform: rotate(0deg);
}
.magic.circle .tri::before {
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  bottom: 92px;
  left: calc(120px - 68px);
  background: var(--black);
  transform: rotate(60deg);
}
.magic.circle .tri::after {
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  bottom: 92px;
  right: calc(120px - 68px);
  background: var(--black);
  transform: rotate(-60deg);
}

.spot {
  width: 52px;
  height: 52px;
  background: white;
  border: 1px solid var(--black);
  border-radius: 50%;
  margin: 5px;
}

.magic.circle .spot {
  position: absolute;
  z-index: 1;
  border: 2px solid var(--black);
  transition: box-shadow 0.2s, background 0.2s;
}
.magic.circle .spot:hover {
  --box-shadow-color: var(--black);
  box-shadow: 0 0 0.4em 0 var(--box-shadow-color);
  cursor: pointer;
}

.magic.circle .spot.red {
  --box-shadow-color: rgb(198, 27, 37);
  background-color: var(--box-shadow-color);
}
.magic.circle .spot.orange {
  --box-shadow-color: rgb(253, 101, 23);
  background-color: var(--box-shadow-color);
}
.magic.circle .spot.green {
  --box-shadow-color: rgb(198, 214, 9);
  background-color: var(--box-shadow-color);
}
.magic.circle .spot.blue {
  --box-shadow-color: rgb(6, 120, 246);
  background-color: var(--box-shadow-color);
}
.magic.circle .spot.pink {
  --box-shadow-color: rgb(252, 78, 153);
  background-color: var(--box-shadow-color);
}
.magic.circle .spot.purple {
  --box-shadow-color: rgb(152, 44, 216);
  background-color: var(--box-shadow-color);
}

#veni,
#vici {
  top: calc(110px + 4em);
}
#veni {
  left: 22px;
}
#vici {
  right: 22px;
}
#vidi {
  top: 12px;
  left: 118px;
}
